{% extends 'patientMonitor/base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
<!-- <meta http-equiv="refresh" content="10"/> -->
<div class="text-align-center d-flex justify-content-center">
  <div class="card bg-light border-success mt-5" style="width: 370px;height:530px";>
    <div class="card-header bg-success">
      <h2 class="text-center text-light">Prescription</h2>
    </div>
    <form class="text-center" method="POST">
      {{form|crispy}}
      {% csrf_token %}
      <input class="btn btn-success text-light my-3" type="submit" name="submit" value="Submit">
    </form>
  </div>
</div>
{% endblock %}
