{% extends 'patientMonitor/base.html' %}
{% block body_block %}
<div class="card-header text-center bg-warning text-white"><h2>Orthopaedics Department</h2></div>

{% for doctor_registration in doctor_list %}
  {% if doctor_registration.Department == "Orthopaedics" %}

    <div class="d-sm-inline-flex col-2 mt-1">
        <a class="btn btn-info" href="{% url 'patientMonitor:doctor_details' pk=doctor_registration.pk %}">{{doctor_registration.Doctor_Name}}</a>
    </div>

  {% endif %}
{% endfor %}
{% endblock %}
