<!DOCTYPE html>
{% extends 'patientMonitor/base.html' %}
{% block body_block %}
<!-- <h1 class="text-center">Patient List</h1> -->
<div class="card-header text-center bg-success text-white"><h2>Patients List</h2></div>

<div class="container-fluid mt-1">
  <div class="card bg-light mb-3">

    <div class="card-body">
        {% for patient_registration in patient_list %}
          <a href="{% url 'patientMonitor:patient_details' pk=patient_registration.pk %}"><li>{{patient_registration.Patient_Name}}</li></a>
        {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
