{% extends 'patientMonitor/base.html' %}

{% block body_block %}
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="m-auto">
        <div class="card bg-light mt-3 mb-3">
          <div class="card-header text-center bg-seconday text-dark"><h2>Patient Details</h2></div>
          <div class="card-body">
            <div class="card-header">
              <p>Patients's Name: {{patient_registration.Patient_Name}}</p>
            </div>
            <div class="card-header">
              <p>Age: {{patient_registration.Age}}</p>
            </div>
            <div class="card-header">
              <p>Sex: {{patient_registration.sex}}</p>
            </div>
            <div class="card-header">
              <p>Blood Group: {{patient_registration.Blood_Group}}</p>
            </div>
            <div class="card-header">
              <p>Weight: {{patient_registration.Weight}} Kg</p>
            </div>
            <div class="card-header">
              <p>Height: {{patient_registration.Height}} Inch</p>
            </div>
            <div class="card-header">
              <p>Ward No: {{patient_registration.Ward_No}}</p>
            </div>
            <div class="card-header">
              <p>Room No: {{patient_registration.Room_No}}</p>
            </div>
            <div class="card-header">
              <p>Bed No: {{patient_registration.Bed_No}}</p>
            </div>
            <div class="card-header">
              <p>Contact Number: {{patient_registration.Phone_No}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
        <div class="card bg-light mt-3 mb-3">
          <div class="card-header text-center bg-seconday text-dark"><h6>Temperature</h6></div>
          <div class="card-body">
            {% for temperature_sensor in patient_registration.temperature_list.all %}
            <div class="card-header text-center">
                {{temperature_sensor.Temperature}}
            </div>
            {% endfor %}
          </div>
        </div>
    </div>

    <div class="col-2">
        <div class="card bg-light mt-3 mb-3">
          <div class="card-header text-center bg-seconday text-dark"><h6>Pulse Rate</h6></div>
          <div class="card-body">
            {% for pulse_sensor in patient_registration.pulse_rate_list.all %}
            <div class="card-header text-center">
                {{pulse_sensor.Pulse_Rate}}
            </div>
            {% endfor %}
          </div>
        </div>
    </div

    <!-- <div class="col-2">
        <div class="card bg-light mt-3 mb-3">
          <div class="card-header text-center bg-seconday text-dark"><h6>Oxygen Saturation</h6></div>
          <div class="card-body">
            {% for oximeter in patient_registration.oxygen_saturation_list.all %}
            <div class="card-header text-center">
                {{oximeter.Oxygen_Saturation}}
            </div>
            {% endfor %}
          </div>
        </div>
    </div> -->
  </div>
</div>

<!-- </div>
<div class="container text-center m-auto">
  <a class="btn btn-secondary my-3" href="{% url 'patientMonitor:patient_information' %}">Back</a>
</div> -->




{% endblock %}
